

.check,
.check * {
  border: 1px solid black;
}

#root{
  min-height: 100vh;
}

#map{
  margin: 0 auto ;
  width: 500px;
  height: 500px;
  margin-bottom: 200px;
}


.main-section img{
  width: 100%;
  border-radius: 15px;
}
